<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>
<body>
    <%- include('../../partials/_sidebar') %> <!-- Sidebar -->
    <%- include('../../partials/_auth') %> <!-- Authentication -->
    <div class="main-content">
        <h1>Account Settings</h1>
    </div>
    <%- include('../../partials/_scripts') %>
</body>
</html>
