<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Organization - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>

<body>
    <%- include('../../partials/_sidebar') %>
    <%- include('../../partials/_auth') %>

    <div class="main-content">
        <h1>Add Organization</h1>
    </div>
    
    <%- include('../../partials/_scripts') %>
</body>

</html>
