<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Administrators - MediTrack</title>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_styles') %>
</head>

<body>
    <%- include('../../partials/_sidebar') %>
    <%- include('../../partials/_auth') %>

    <div class="main-content">
    </div>

    <%- include('../../partials/_scripts') %>
</body>

</html>
